@import url(https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css);
@import url('https://fonts.googleapis.com/css?family=Spectral');

form {
    margin: 3rem 5rem;
    font-family: 'Spectral', serif;
}

li {
    height: 2rem;
    border: 1px solid #ddd;
    padding-top: .3rem;
    padding-left: .5rem;
    margin-bottom: 1rem;
}

li>span {
    float: right;
}